body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .button{
    @apply relative bg-gray-800 text-purple-400 hover:bg-gray-600 rounded-xl m-1 p-1.5 border-white
  }
  .modal{
    @apply text-black
  }

  .search-dropdown {
    @apply relative w-full max-w-md;
}

.search-input {
    @apply w-full px-4 py-2 rounded-lg bg-neutral-800 text-white 
           placeholder-gray-400 focus:outline-none focus:ring-2 
           focus:ring-purple-500 transition;
}

.search-results {
    @apply absolute w-full bg-neutral-900 border border-neutral-700 
           mt-1 rounded-lg shadow-lg z-10 overflow-hidden;
}

.search-item {
    @apply px-4 py-2 cursor-pointer hover:bg-neutral-800 transition;
}
}

@layer base {
  body {
    @apply bg-neutral-900;
  }
}